body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  z-index: 1;
  height: 69px;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  padding-left: 10px;
  justify-content: : flex-start;
}

nav {
  text-align: right;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  justify-content: flex-end;
}
